/* #################################################################################################
 * #################################################################################################
 * Main
 * #################################################################################################
 * ################################################################################################# */
:root {
	--space-base: 14;
	--space-frame: 1.0rem;
	--space-top: 2rem;
	--cover-size: 9rem;
}

html, body {
	--color-shadeT: 240,240,240;
	--color-shadeX: 0,0,0;
	--color-shade0: 220, 220, 220;
	--color-shade1: 180, 180, 180;
	--color-shade2: 150, 150, 150;
	--color-text: 20,20,20;
	--color-text-dim: 50,50,50;
	font-family: 'Open Sans', sans-serif;
	color: rgb(var(--color-text));
	font-size: calc(var(--space-base)*1px);
	line-height: 1rem;
    font-weight: 400;
}

body.dark {
	background-color: rgb(50,50,50);
	--color-shadeT: 0,0,0;
	--color-shadeX: 255,255,255;
	--color-shade0: 50, 50, 50;
	--color-shade1: 60, 60, 60;
	--color-shade2: 70, 70, 70;
	--color-text: 200,200,200;
	--color-text-dim: 180,180,180;
}

.frame {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	border: solid 1px rgb(var(--color-shade2));
	background-color: rgba(var(--color-shadeT),1);
	overflow: hidden;
	display: grid;
	grid-template-rows: var(--space-top) 1fr auto auto;
	box-sizing: border-box;
}

.frame.focus {
	border: solid 1px rgb(var(--color-shade2));
}

.dark .frame {
	border: solid 1px rgb(var(--color-shade1));
	background-color: rgb(50,50,50);
}

.alert {
	position: absolute;
	top:var(--space-top);
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.alert .inner {
	width: 90%;
	padding: 1em;
	background-color: red;
	color: white;
}


.top {
	width: 100%;
	background-color: rgba(var(--color-shadeX), 0.4);
	border-bottom: solid 1px rgba(var(--color-shadeX), 0.07);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	color: rgb(var(--color-shadeT))
}

.dark .top {
	background-color: rgba(var(--color-shadeT), 0.2);
	border-bottom: solid 1px rgba(var(--color-shadeT), 0.07);
	color: inherit
}

.frame.focus .top {
	opacity: 1;
}

.top .content{
	width: 100%;
	display: grid;
	grid-template-columns: 2rem 1.2rem 1.2rem auto 2.6rem;
	height: 100%;
}

.top .content .playpause{
	font-family: 'Material Icons';
	font-size: 1rem;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.top .content .playpause:hover{
	color: white;
}

.top .content .playpause::after{
	content: 'pause';
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

body.pause .top .content .playpause::after{
	content: 'play_arrow';
}

.top .content .loop{
	font-family: 'Material Icons';
	font-size: 1rem;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.top .content .loop:hover{
	color: white;
}

.top .content .loop::after{
	content: 'loop';
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.3;
}

body.loop .top .content .loop::after{
	opacity: 1;
}


.top .content .shuffle{
	font-family: 'Material Icons';
	font-size: 1rem;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.top .content .shuffle:hover{
	color: white;
}

.top .content .shuffle::after{
	content: 'shuffle';
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
}


.top .content .num{
	font-size: 0.75rem;
	-webkit-app-region: drag;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
}

.top .content .close{
	font-family: 'Material Icons';
	font-size: 1rem;
	opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2s;
}

.top .content .close:hover{
	opacity: 1;
	background-color: rgb(145, 58, 7);
}

.info {
	margin: var(--space-frame);
	display: grid;
	grid-template-columns: var(--cover-size) auto;
	gap: 1rem;
	color: rgb(var(--color-text-dim));
}

.frame.focus .info {
	color: rgb(var(--color-text));
}

.info .cover {
	position: relative;
	display: block;
	width: var(--cover-size);
	height: var(--cover-size);
	background-color: rgb(var(--color-shade0));
}

.dark .info .cover {
	background-color: rgb(var(--color-shade1));
}

.info .cover img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}


.info .text {
	font-size: 0.65rem;
}

.info .text .item{
	display: grid;
	grid-template-columns: 3.5rem auto;
	gap: 1rem;
}

.info .text .item .label{
	opacity: 0.5;
	text-align: right;
}

.info .text .item .content{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info .text .space{
	display: block;
	width: 100%;
	height: 1rem;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.filetype {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	--ribbon-h: 1.5rem;
	--ribbon-w: calc(var(--cover-size) * 1.05);
	--ribbon-center: calc(var(--cover-size) * 0.18);
}
.filetype .icon {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	font-family: 'Material Icons';
	font-size: 6.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(var(--color-text),0.2);
	z-index: 0;
}

.filetype .type {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	position: absolute;
	bottom: calc(var(--ribbon-center) - (var(--ribbon-h) * 0.5));
	right: calc(var(--ribbon-center) - (var(--ribbon-w) * 0.5));
	left: auto;
	width: var(--ribbon-w);
	height: var(--ribbon-h);
	font-size: 0.75rem;
	font-weight: 600;
	background-color: rgb(100, 100, 100);
	transform-origin: center;
	transform: rotate(-45deg);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	transition: opacity 0.2s;
	color: white;
}

.filetype .type.mp3{
	background-color: rgb(134, 14, 54);
}
.filetype .type.ogg{
	background-color: rgb(145, 58, 7);
}
.filetype .type.m4a,
.filetype .type.m4b,
.filetype .type.aac,
.filetype .type.mp4 {
	background-color: rgb(7, 62, 145);
}

.filetype .type.flac {
	background-color: rgb(15, 104, 23);
}


.filetype .type.mptm, 
.filetype .type.mod,
.filetype .type.mo3, 
.filetype .type.s3m, 
.filetype .type.xm, 
.filetype .type.it,  
.filetype .type.amf, 
.filetype .type.ams, 
.filetype .type.c67, 
.filetype .type.dbm, 
.filetype .type.digi, 
.filetype .type.dmf, 
.filetype .type.dsm, 
.filetype .type.dsym, 
.filetype .type.dtm, 
.filetype .type.far, 
.filetype .type.fmt, 
.filetype .type.imf, 
.filetype .type.ice, 
.filetype .type.j2b, 
.filetype .type.m15,
.filetype .type.mdl,
.filetype .type.med, 
.filetype .type.mms, 
.filetype .type.mt2, 
.filetype .type.mtm, 
.filetype .type.mus, 
.filetype .type.nst, 
.filetype .type.okt, 
.filetype .type.plm, 
.filetype .type.psm, 
.filetype .type.pt36, 
.filetype .type.ptm, 
.filetype .type.sfx, 
.filetype .type.sfx2, 
.filetype .type.st26, 
.filetype .type.stk, 
.filetype .type.stm, 
.filetype .type.stx, 
.filetype .type.stp, 
.filetype .type.symmod, 
.filetype .type.ult, 
.filetype .type.wow, 
.filetype .type.gdm, 
.filetype .type.mo3, 
.filetype .type.oxm, 
.filetype .type.umx, 
.filetype .type.xpk, 
.filetype .type.ppm, 
.filetype .type.mmcmp {
	background-color: rgb(176, 11, 151);
}

.filetype .type.wav,
.filetype .type.aif,
.filetype .type.aiff {
	background-color: rgb(100, 100, 100);
}

.info .cover:hover .filetype .type{
	opacity: 0;
}

.info .cover:hover img {
	object-fit: contain;
}


.time_controls {
	padding-left: var(--space-frame);
	padding-right: var(--space-frame);
	font-size: 0.7rem;
}
.time_controls .playhead {
	position: relative;
	height: 0.4rem;
	background-color: rgb(var(--color-shade1));
}

.time_controls .playhead .prog {
	position: absolute;
	width: 0px;
	height: 100%;
	background-color: rgb(var(--color-text-dim));
}

.time_controls .playtime {
	display: grid;
	grid-template-columns: 100px auto 100px;
	height: 1.8rem; /* 2.5rem * 10/14 = 1.8rem */
	
}

.time_controls .playtime div{
	display: flex;
	align-items: center;
}

.time_controls .playtime .volume{
	justify-content: center;
	opacity: 0.5;
}

.time_controls .playtime .volume label{
	padding-right: 0.1rem; /* 0.2rem * 10/14 = 0.1rem */
}

.time_controls .playtime .remain{
	justify-content: flex-end;
}

/* #################################################################################################
 * Dropzone Layout Override
 * ################################################################################################# */
#bod .nui-dropzone .nui-dropzone-content {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
	font-size: 0.8rem;
}

#drop_add {
    grid-column: 1;
    grid-row: 1;
}

#drop_replace {
    grid-column: 1;
    grid-row: 2;
}

#drop_mixer {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.controls {
	display: flex;
	align-items: center;
	gap: calc(var(--space-frame) / 2);
	padding-bottom: calc(var(--space-frame));
	padding-top: calc(var(--space-frame) / 2);
	padding-left: var(--space-frame);
	padding-right: var(--space-frame);
	border-top: solid 1px rgb(var(--color-shade1));
	background-color: rgb(45,45,45);
}
.controls .button {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(var(--color-shade1));
	border-radius: calc(var(--space-frame) / 4);
}
icon {

	font-family: 'Material Icons';
	font-size: 1.5rem;
}