[submodule "libs/electron_helper"]
	path = libs/electron_helper
	url = https://github.com/herrbasan/electron_helper.git
[submodule "libs/nui"]
	path = libs/nui
	url = https://github.com/herrbasan/nui.git
[submodule "libs/chiptune"]
	path = libs/chiptune
	url = https://github.com/DrSnuggles/chiptune.git
[submodule "libs/native-registry"]
	path = libs/native-registry
	url = https://github.com/herrbasan/windows-native-registry.git
[submodule "libs/ffmpeg-napi-interface"]
	path = libs/ffmpeg-napi-interface
	url = https://github.com/herrbasan/ffmpeg-napi-interface.git
[submodule "libs/midiplayer/src/js-synthesizer"]
	path = libs/midiplayer/src/js-synthesizer
	url = https://github.com/jet2jet/js-synthesizer
[submodule "libs/libs/rubberband-wasm"]
	path = libs/libs/rubberband-wasm
	url = https://github.com/herrbasan/rubberband-wasm-soundapp.git
