node_modules/
out/
.vscode/
_Material/
_Archive/
env.json
_harness_last.log
.DS_Store
libs/rubberband-wasm/emsdk/
# Large SoundFonts
bin/soundfonts/Timbres of Heaven (XGM) 4.00(G).sf2
bin/soundfonts/FluidR3_GM.sf2
bin/soundfonts/SGM-V2.01.sf2
