/* #################################################################################################
 * #################################################################################################
 * Main
 * #################################################################################################
 * ################################################################################################# */
:root {
	--space-topbar-height: 0;
	--space-sidebar-width: 0;
	--space-page-maxwidth: 900;

	--space-base: 18;
	--space-frame: 0rem;
	--space-top: 2.7rem;
	--color-shade0: 50, 50, 50;
	--color-shade1: 60, 60, 60;
	--color-shade2: 70, 70, 70;
	--color-shade3: 120, 120, 120;
	--color-highlight: 94, 149, 237;
	--color-text: 200,200,200;
	--color-text-dim: 180,180,180;
	--color-text-full: 255,255,255;
}


html, body {
	color: rgb(var(--color-text));
	font-size: calc(var(--space-base)*1px);
	line-height: 1.5rem;
    font-weight: 400;
	background-color: rgb(50,50,50);
}

.mixer-page {
	padding: 4rem;
}

@media only screen and (max-width: 850px) {
	:root {
		--space-base: 15;
	}
	.nui-page {
		padding: 1.6rem;
	}
}

.file-select {
	margin-bottom: 2em;
	display: flex;
	justify-content: flex-end;
}

.file-select .superSelect {
	width: 50%;
}
.mixer-container {
	position: relative;
	height: 25rem;
	margin-bottom: 2rem;
	
}

@media only screen and (max-height: 400px) {
	.mixer-container {
		height: 80vh;
	}
}

@media only screen and (max-width: 650px) {
	.mixer-container {
		height: 65vh;
	}
	.file-select .superSelect {
		width: 100%;
	}
}


.mixer-container .loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(var(--color-shade2));
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.mixer {
	position: absolute;
	top: var(--space-frame);
	left: var(--space-frame);
	right: var(--space-frame);
	bottom: var(--space-frame);
	display: grid;
	grid-template-rows: auto 3.4rem;
}

.mixer .transport {
	padding-top: 1.5rem;
	display: grid;
	grid-template-rows: 0.5rem auto;
	cursor: pointer;
}
.mixer .transport .bar{
	width: 100%;
	height: 100%;
	background-color: rgb(var(--color-shade2));
}
.mixer .transport .bar .inner{
	width: 0%;
	height: 100%;
	background-color: rgb(var(--color-shade6));
}

.mixer .transport .time{
	display: grid;
	margin-top: 0.3rem;
	grid-template-columns: 5rem auto 5rem;
	font-size: 0.8rem;
}
.mixer .transport .time .current{
	display: flex;
	align-items:flex-end;
}

.mixer .transport .time .duration{
	display: flex;
	align-items:flex-end;
	justify-content: right;
}

.mixer .channels {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(2.5rem, 2fr) );
	gap: 0.4rem;
}
.mixer .channels .dummy{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(var(--color-shade2));
}

.mixer .channels .strip {
	position: relative;
	display: grid;
	gap: 0.3rem;
	grid-template-rows: 1.5rem 1.5rem auto 1.2rem;
}
.mixer .channels .strip .mute,
.mixer .channels .strip .solo {
	background-color: rgb(var(--color-shade2));
	font-size: 0.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.mixer .channels .strip .mute.active {
	background-color: rgb(var(--color-shade4));
}
.mixer .channels .strip .solo.active {
	background-color: rgb(196, 56, 21);
}
.mixer .channels .strip .pan{
	position: relative;
	background-color: rgb(var(--color-shade2));
}
.mixer .channels .strip .pan .line{
	position: absolute;
	top: 2px;
	bottom: 2px;
	width: 2px;
	left: 50%;
	margin-left: -1px;
	background-color: rgb(255,255,255,0.3);
	pointer-events: none;
}
.mixer .channels .strip .meter {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgb(var(--color-shade2));
	margin-right: 1rem;
	transform: rotate(180deg);
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.mixer .channels .strip .meter .bar{
	position: relative;
	width: 100%;
	height: 0%;
	background-color: rgb(64, 168, 59);
}

.mixer .channels .strip .meter .gain {
	position: absolute;
	transform: rotate(180deg);
	height: 100%;
	width: 100%;
	z-index: 1;
	pointer-events: all;
}

.mixer .channels .strip .meter .gain .slider {
	position: absolute;
	width: 100%;
	top: 50%;
	background-color: rgba(255,255,255,0.1);
	color: rgb(var(--color-text-full));
	pointer-events: none;
}

.mixer .channels .strip .meter .gain .slider .line {
	height: 1px;
	width: 100%;
	background-color: rgb(var(--color-text-full));
}
.mixer .channels .strip .meter .gain .slider .num {
	position: absolute;
	font-size: 0.8rem;
	top: -1.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.superSelect {
	background-color: rgb(var(--color-shade2));
}

.dark .ss-pulldown {
	background-color: rgb(80,80,80);
	border: solid thin transparent;
	border-top: 0;
}

.dark .superSelect.open {
	background-color: rgb(70,70,70);
	border: solid thin transparent;
	border-bottom: solid thin rgba(0,0,0,0.5);
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.3));
}
